.heading{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0;
   margin-bottom: 20px;
    
}
.user-order-detail:nth-child(even){
background-color: rgb(211, 211, 211);   
    
}
.user-order-detail{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 0;
   margin-bottom: 20px;
    
}
.user-order-detail:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
}